<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metrics</title>
    <style>
        table { border-collapse: collapse; width: 50%; margin: 20px auto; }
        th, td { border: 1px solid black; padding: 8px; text-align: center; }
        th { background-color: #f2f2f2; }
    </style>
</head>
<body>
<h2 style="text-align: center;">Metrics Table</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Delta</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    {{ range $key, $metric := .Metrics }}
    <tr>
        <td>{{ $key }}</td>
        <td>{{ $metric.MType }}</td>
        <td>{{ if $metric.Delta }}{{ $metric.Delta }}{{ else }}N/A{{ end }}</td>
        <td>{{ if $metric.Value }}{{ $metric.Value }}{{ else }}N/A{{ end }}</td>
    </tr>
    {{ end }}
    </tbody>
</table>
</body>
</html>